<section class="section">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> Thread Manager</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint deserunt quisquam vel officiis
                        obcaecati aliquid, adipisci repellendus quod aspernatur enim doloribus eos illum ipsum alias
                        suscipit totam quam ea molestiae?</p>
                    <br>
                    <p><b>Servers: </b>1.000.000</p>
                    <p><b>Users: </b>1.000.000</p>
                    <p><b>Channels: </b>1.000.000</p>
                    <div class="gap-2 mt-3">
                        <a target="_blank" href="<%= threadmanagerinvite %>"><button class="btn btn-primary"
                                type="button"><i class="bx bx-chevron-right"></i> Invite Thread Manager</button></a>
                        <a href="/threadmanager/docs"><button class="btn btn-success" type="button"><i
                                    class="bx bxs-file"></i> Documentation </button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Midnight</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint deserunt quisquam vel officiis
                        obcaecati aliquid, adipisci repellendus quod aspernatur enim doloribus eos illum ipsum alias
                        suscipit totam quam ea molestiae?</p>
                    <br>
                    <p><b>Servers: </b>1.000.000</p>
                    <p><b>Users: </b>1.000.000</p>
                    <p><b>Channels: </b>1.000.000</p>
                    <div class="gap-2 mt-3">
                        <a target="_blank" href="<%= midnightinvite %>"><button class="btn btn-primary" type="button"><i
                                    class="bx bx-chevron-right"></i> Invite Midnight</button></a>
                        <a href="/midnight/docs"><button class="btn btn-success" type="button"><i
                                    class="bx bxs-file"></i> Documentation </button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">TipicoX</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint deserunt quisquam vel officiis
                        obcaecati aliquid, adipisci repellendus quod aspernatur enim doloribus eos illum ipsum alias
                        suscipit totam quam ea molestiae?</p>
                    <br>
                    <p><b>Servers: </b>1.000.000</p>
                    <p><b>Users: </b>1.000.000</p>
                    <p><b>Channels: </b>1.000.000</p>
                    <div class="gap-2 mt-3">
                        <a target="_blank" href="<%= tipicoxinvite %>"><button class="btn btn-primary" type="button"><i
                                    class="bx bx-chevron-right"></i> Invite TipicoX</button></a>
                        <a href="/tipicox/docs"><button class="btn btn-success" type="button"><i
                                    class="bx bxs-file"></i> Documentation </button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Infinity Lounge</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint deserunt quisquam vel officiis
                        obcaecati aliquid, adipisci repellendus quod aspernatur enim doloribus eos illum ipsum alias
                        suscipit totam quam ea molestiae?</p>
                    <br>
                    <p><b>Servers: </b>1.000.000</p>
                    <p><b>Users: </b>1.000.000</p>
                    <p><b>Channels: </b>1.000.000</p>
                    <div class="gap-2 mt-3">
                        <a target="_blank" href="<%= infinityloungeinvite %>"><button class="btn btn-primary"
                                type="button"><i class="bx bx-chevron-right"></i> Invite Infinity Lounge</button></a>
                        <a href="/infinitylounge/docs"><button class="btn btn-success" type="button"><i
                                    class="bx bxs-file"></i> Documentation </button></a>
                    </div>
                </div>
            </div>
        </div>
</section>