<div class="card">
    <div class="card-body">
        <h5 class="card-title">Basic Commands</h5>
        <div class="accordion accordion-flush" id="accordionFlushBasic">

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingHelp">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseHelp" aria-expanded="false" aria-controls="flush-collapseHelp">
                        /Help
                    </button>
                </h2>
                <div id="flush-collapseHelp" class="accordion-collapse collapse" aria-labelledby="flush-headingHelp"
                    data-bs-parent="#accordionFlushBasic">
                    <div class="accordion-body">Returns you the Help-page for the Bot.</div>
                </div>
            </div>
            

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingInvite">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseInvite" aria-expanded="false" aria-controls="flush-collapseInvite">
                        /Invite
                    </button>
                </h2>
                <div id="flush-collapseInvite" class="accordion-collapse collapse" aria-labelledby="flush-headingInvite"
                    data-bs-parent="#accordionFlushBasic">
                    <div class="accordion-body">Returns an Invite for the Bot.</div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingStats">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseStats" aria-expanded="false" aria-controls="flush-collapseStats">
                        /Stats
                    </button>
                </h2>
                <div id="flush-collapseStats" class="accordion-collapse collapse" aria-labelledby="flush-headingStats"
                    data-bs-parent="#accordionFlushBasic">
                    <div class="accordion-body">Returns the amount of Users, Servers and Average Users per Server of the bot, also including Uptime.</div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingVote">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseVote" aria-expanded="false" aria-controls="flush-collapseVote">
                        /Vote
                    </button>
                </h2>
                <div id="flush-collapseVote" class="accordion-collapse collapse" aria-labelledby="flush-headingVote"
                    data-bs-parent="#accordionFlushBasic">
                    <div class="accordion-body">Vote for the Bot :)</div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Commands With Arguments</h5>
        <div class="accordion accordion-flush" id="accordionFlushArguments">

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingInfractions">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseInfractions" aria-expanded="false" aria-controls="flush-collapseInfractions">
                        /Infractions <code>&nbsp;[user]<sup>*</sup>&nbsp;</code>
                    </button>
                </h2>
                <div id="flush-collapseInfractions" class="accordion-collapse collapse" aria-labelledby="flush-headingInfractions"
                    data-bs-parent="#accordionFlushArguments">
                    <div class="accordion-body">
                        Returns you the Infractions and General Information about a certain User.
                        <br>
                        <br>
                        <code>[user]</code> = A User Object.
                        <br>
                        <br>
                        <sub>Arguments marked with<code>&nbsp;*&nbsp;</code>are mandatory!</sub>
                    </div>
                    
                </div>
            </div>
            

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingPunishment">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapsePunishment" aria-expanded="false" aria-controls="flush-collapsePunishment">
                        /Punishment <code>&nbsp;[option]<sup>*</sup>&nbsp;</code>
                    </button>
                </h2>
                <div id="flush-collapsePunishment" class="accordion-collapse collapse" aria-labelledby="flush-headingPunishment"
                    data-bs-parent="#accordionFlushArguments">
                    <div class="accordion-body">
                        Lets you configure the Punishment the Bot gives once a Phishing or Scam link is found.
                        <br>
                        <br>
                        <code>[option]</code> = Mute (60s, 5min, 10min, 1h, 1d, 1w), Kick, Ban, Clear Punishment. 
                        <br>
                        <br>
                        <sub>Arguments marked with<code>&nbsp;*&nbsp;</code>are mandatory!</sub>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingScammer">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseScammer" aria-expanded="false" aria-controls="flush-collapseScammer">
                        /Scammer <code>&nbsp;[option]<sup>*</sup>&nbsp;</code>
                    </button>
                </h2>
                <div id="flush-collapseScammer" class="accordion-collapse collapse" aria-labelledby="flush-headingScammer"
                    data-bs-parent="#accordionFlushArguments">
                    <div class="accordion-body">
                        Lets you configure the Action done to a User, if flagged as Scammer when joining your Server or also when already in your Server sending Phish Links.
                        <br>
                        <br>
                        <code>[option]</code> = Mute (60s, 5min, 10min, 1h, 1d, 1w), Kick, Ban, Clear Punishment. 
                        <br>
                        <br>
                        <sub>Arguments marked with<code>&nbsp;*&nbsp;</code>are mandatory!</sub>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSetchannel">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseSetchannel" aria-expanded="false" aria-controls="flush-collapseSetchannel">
                        /Setchannel <code>&nbsp;[channel]<sup>*</sup>&nbsp;</code>
                    </button>
                </h2>
                <div id="flush-collapseSetchannel" class="accordion-collapse collapse" aria-labelledby="flush-headingSetchannel"
                    data-bs-parent="#accordionFlushArguments">
                    <div class="accordion-body">
                        Lets you configure the Channel the Bot Logs its Data to. For Example when a Phishing Link got Detected and Deleted.
                        <br>
                        <br>
                        <code>[channel]</code> = A Channel Object
                        <br>
                        <br>
                        <sub>Arguments marked with<code>&nbsp;*&nbsp;</code>are mandatory!</sub>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSubmitPhish">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseSubmitPhish" aria-expanded="false" aria-controls="flush-collapseSubmitPhish">
                        /Submit-Phish <code>&nbsp;[link]<sup>*</sup>&nbsp;</code>
                    </button>
                </h2>
                <div id="flush-collapseSubmitPhish" class="accordion-collapse collapse" aria-labelledby="flush-headingSubmitPhish"
                    data-bs-parent="#accordionFlushArguments">
                    <div class="accordion-body">
                        Submit Scamming or Phishing Links for the Developers to review. If confirmed Phishing or Scamming will be added to our public API Tool.
                        <br>
                        <br>
                        <code>[link]</code> = A Valid Link
                        <br>
                        <br>
                        <sub>Arguments marked with<code>&nbsp;*&nbsp;</code>are mandatory!</sub>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>